:host {
  display: flex;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  margin-top: 14px;
}

.multiple {
  display: flex;
  flex-direction: column;
  gap: 10px;
}