<mat-card class="card" *ngIf="question && questionForm" id="{{ question.id }}">
  <mat-card-content>
    <p>Question: <span>{{ question.text }}</span></p>
    <form #myForm="ngForm" [formGroup]="questionForm" (ngSubmit)="answerHandle(myForm)">

      <div class="single" *ngIf="question.type === 'single'">
        <mat-radio-group required formControlName="single" color="primary">
          <mat-radio-button
            *ngFor="let variant of question.answerVariants" 
            class="single-variants" 
            [value]="variant"
            checked="{{ !!question.answer?.includes(variant) }}" 
            disabled="{{ isBlocked }}">
            {{ variant }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="multiple" formArrayName="multiple" *ngIf="question.type === 'multiple'">
        <ng-container *ngFor="let variant of question.answerVariants; let i = index">
          <mat-checkbox 
            [formControlName]="i"
            class="multiple-variants" 
            color="primary"
            checked="{{ !!question.answer?.includes(variant) }}">
            {{ variant }}
          </mat-checkbox>
        </ng-container>
      </div>

      <div class="open-in" *ngIf="question.type === 'open' && !question.answer">
        <mat-form-field class="question-input-wrapper" appearance="fill">
          <mat-label>Answer text (from 1 to 255 characters)</mat-label>
          <textarea required class="question-input" matInput formControlName="open" maxlength="255"></textarea>
        </mat-form-field>
      </div>

      <div class="open-out" *ngIf="question.type === 'open' && question.answer">
        <p>Answer: <span>{{ question.answer[0] }}</span></p>
      </div>

      <div class="button" *ngIf="!question.answer">
        <button type="submit" mat-raised-button color="primary" [disabled]="!questionForm.valid">Create an answer</button>
      </div>

      <div class="button" *ngIf="question.answer">
        <button type="button" (click)="toUnansweredHandle()" mat-raised-button color="primary">Back to unanswered</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>