:host {
  display: flex;
}

.card {
  width: 568px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single, .multiple, .open-out {
  margin-bottom: 14px;
}

.question-input-wrapper {
  width: 100%;
  padding: 0;
}

.question-input {
  height: 100px;
  padding: 0;
}

.multiple {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
}